// Default

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(132, 75, 168);
}

// App
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: black;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  font-size: 14px;
  max-width: 100%;
  text-overflow: ellipsis;
  background-color: #eee;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: black;
    color: white;
  }

  &:active {
    transform: translateY(1px);
  }
}

.app {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 20px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #dedede;

  &__nav {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    row-gap: 10px;
    counter-reset: number;
  }

  &__step-button {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    &::before {
      counter-increment: number;
      content: counter(number);
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #eee;
      font-size: 12px;
      color: black;
    }

    &.is-active {
      opacity: 1;
      &::before {
        background-color: #417fb2;
        color: white;
      }
    }
  }

  &__title {
    margin-top: 0;
  }

  &__step-content {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
